**/build
**/node_modules
package-lock.json
**/__pycache__
**/*.idea
**/.DS_Store

**/Dist/
**/*.icloud
**/*.log
*.user
**/build-hmi*

**/.ipynb_checkpoints

**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
**/*.env
